<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <% if (htmlWebpackPlugin.options.description) { %>
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <% } %>
    <script>
        dv1data = {
            message: 'hello from global JS object!'
        };

        dvchart1config = {
            title: 'hi'
        };

        dv2data = new Promise(resolve => {
            resolve({message: 'hello from global JS promise!'})
        });

        // testing programmatic bootstrap
        window.addEventListener('load', function() {
            const testTemplate = `
                <div>
                    ---- {{ message }} ---- [{{ count }}]
                </div>
            `;

            const data = {
                message: 'programmatic',
                count: 0
            };

            window.setInterval(() => data.count++, 1000);

            const dvp = new DQV.Section({ data, template: testTemplate });
            dvp.mount(document.getElementById('target1'));
        })
    </script>

    <style>
        [dv-section] {
            padding: 10px;
            margin: 5px 0;
            border: 1px solid black;
        }
    </style>

</head>

<body>
    <div id="app1" dv-section dv-data="dv1data">
        --> {{ message }} 123

        <dv-chart id="app1chart1" dv-config="dvchart1config"></dv-chart>
    </div>

    <div dv-section dv-data="dv2data">
        --> {{ message }} 456
    </div>

    <div id="target1"></div>

    <div id="target2"></div>

</body>

</html>