<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <% if (htmlWebpackPlugin.options.description) { %>
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
        <% } %>

            <!-- if you need IE support -->
            <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Object.entries,Promise"></script>

            <script>
                sample1data = {
                    message: 'Declarative section with sync data from global scope'
                };

                sample1chartConfig = {
                    chart: {
                        zoomType: 'y',
                        zoomSlider: null
                    },
                    title: {
                        text: 'Solar Employment Growth by Sector, 2010-2016'
                    },

                    subtitle: {
                        text: 'Source: thesolarfoundation.com'
                    },

                    yAxis: {
                        title: {
                            text: 'Number of Employees'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },

                    plotOptions: {
                        series: {
                            label: {
                                connectorAllowed: false
                            },
                            pointStart: 2010
                        }
                    },

                    credits: {
                        enabled: false
                    },

                    series: [{
                        name: 'Installation'
                    }, {
                        name: 'Manufacturing'
                    }, {
                        name: 'Sales & Distribution'
                    }, {
                        name: 'Project Development'
                    }, {
                        name: 'Other'
                    }],

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }

                };

                sample1chartData = [
                    [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175],
                    [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434],
                    [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387],
                    [null, null, 7988, 12169, 15112, 22452, 34400, 34227],
                    [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111],
                ];

                sample2data = new Promise(function (resolve) {
                    const data = { message: 'Declarative section with async data using Promise from global scope', seconds: 6 }
                    window.setInterval(function () { data.seconds--; }, 1000);
                    resolve(data);
                });

                sample2chartConfig = new Promise(function (resolve) {
                    setTimeout(function () {
                        resolve({
                            chart: {
                                type: 'column',
                                zoomType: 'x'
                            },
                            // if the export-data module is loaded, but a specific chart should not have a "View Data" menu option,
                            // it needs to be disabled manually
                            exporting: {
                                menuItemDefinitions: {
                                    viewData: null
                                }
                            },
                            title: {
                                text: 'Fruit Consumption'
                            },
                            xAxis: {
                                categories: ['Apples', 'Bananas', 'Oranges', 'Grapes', 'Avocado', 'Watermelon', 'Melon', 'Apples', 'Bananas', 'Oranges', 'Grapes', 'Avocado', 'Watermelon', 'Melon']
                            },
                            yAxis: {
                                title: {
                                    text: 'Fruit eaten'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: 'Jane',
                                data: [1, 0, 4, 3, 6, 3, 1, 0, 4, 3, 6, 3]
                            }, {
                                name: 'John',
                                data: [5, 7, 3, 1, 2, 4, 1, 0, 4, 3, 6, 3]
                            }]
                        })
                    }, 6000)
                }
                );

                // testing programmatic bootstrap
                window.addEventListener('load', function () {
                    const sample3template =
                        '    <dv-section id="dv3">' +
                        '        <h3>{{ message }}</h3>' +

                        '        <dv-chart id="nuclear"><dv-chart-table></dv-chart-table></dv-chart>' +

                        '        <dv-chart></dv-chart>' +
                        '        <dv-chart id="dfdf"></dv-chart>' +

                        '        [{{ count }}] <span id="nuclear-extreme"></span>' +
                        '    </dv-section>'
                        ;

                    const sample3data = {
                        message: 'Programmatic section with sync data',
                        count: 0
                    };

                    const TokyoWeatherConfig = {
                        chart: {
                            zoomType: 'xy'
                        },
                        title: {
                            text: 'Average Monthly Weather Data for Tokyo'
                        },
                        subtitle: {
                            text: 'Source: WorldClimate.com'
                        },
                        xAxis: [{
                            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                            crosshair: true
                        }],
                        yAxis: [{ // Primary yAxis
                            labels: {
                                format: '{value}°C',
                                style: {
                                    color: Highcharts.getOptions().colors[2]
                                }
                            },
                            title: {
                                text: 'Temperature',
                                style: {
                                    color: Highcharts.getOptions().colors[2]
                                }
                            },
                            opposite: true

                        }, { // Secondary yAxis
                            gridLineWidth: 0,
                            title: {
                                text: 'Rainfall',
                                style: {
                                    color: Highcharts.getOptions().colors[0]
                                }
                            },
                            labels: {
                                format: '{value} mm',
                                style: {
                                    color: Highcharts.getOptions().colors[0]
                                }
                            }

                        }, { // Tertiary yAxis
                            gridLineWidth: 0,
                            title: {
                                text: 'Sea-Level Pressure',
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            labels: {
                                format: '{value} mb',
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            opposite: true
                        }],
                        tooltip: {
                            shared: true
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'left',
                            x: 80,
                            verticalAlign: 'top',
                            y: 55,
                            floating: true,
                            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                        },
                        series: [{
                            name: 'Rainfall',
                            type: 'column',
                            yAxis: 1,
                            data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
                            tooltip: {
                                valueSuffix: ' mm'
                            }

                        }, {
                            name: 'Sea-Level Pressure',
                            type: 'spline',
                            yAxis: 2,
                            data: [1016, 1016, 1015.9, 1015.5, 1012.3, 1009.5, 1009.6, 1010.2, 1013.1, 1016.9, 1018.2, 1016.7],
                            marker: {
                                enabled: false
                            },
                            dashStyle: 'shortdot',
                            tooltip: {
                                valueSuffix: ' mb'
                            }

                        }, {
                            name: 'Temperature',
                            type: 'spline',
                            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
                            tooltip: {
                                valueSuffix: ' °C'
                            }
                        }]
                    };

                    const sample3chartConifg = {
                        chart: {
                            type: 'area',
                            zoomType: 'xy',
                            // zoomSlider: null,
                            // zoomSlider: [{}, {}],
                            // zoomSlider: [null, {}],
                            zoomSlider: {
                                step: 0.1
                            }
                        },
                        title: {
                            text: 'US and USSR nuclear stockpiles'
                        },
                        subtitle: {
                            text: 'Source: <a href="http://thebulletin.metapress.com/content/c4120650912x74k7/fulltext.pdf">' +
                                'thebulletin.metapress.com</a>'
                        },
                        xAxis: {
                            allowDecimals: false,
                            minRange: 0.20,
                            labels: {
                                formatter: function () {
                                    return this.value; // clean, unformatted number for year
                                }
                            },
                            type: 'datetime',
                            events: {
                                setExtremes: function (event) {
                                    console.log('nuclear `setExtremes` external handle');
                                    document.getElementById('nuclear-extreme').innerHTML = Math.random().toFixed(2);
                                }
                            }
                        },
                        yAxis: {
                            title: {
                                text: 'Nuclear weapon states'
                            },
                            labels: {
                                formatter: function () {
                                    return this.value / 1000 + 'k';
                                }
                            },
                            min: 0,
                            max: 50000
                        },
                        tooltip: {
                            pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
                        },
                        credits: {
                            enabled: false
                        },
                        plotOptions: {
                            area: {
                                pointStart: 1940,
                                marker: {
                                    enabled: false,
                                    symbol: 'circle',
                                    radius: 2,
                                    states: {
                                        hover: {
                                            enabled: true
                                        }
                                    }
                                }
                            }
                        },
                        series: [{
                            name: 'USA',
                            data: [null, null, null, null, null, 6, 11, 32, 110, 235, 369, 640,
                                1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468, 20434, 24126,
                                27387, 29459, 31056, 31982, 32040, 31233, 29224, 27342, 26662,
                                26956, 27912, 28999, 28965, 27826, 25579, 25722, 24826, 24605,
                                24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586,
                                22380, 21004, 17287, 14747, 13076, 12555, 12144, 11009, 10950,
                                10871, 10824, 10577, 10527, 10475, 10421, 10358, 10295, 10104]
                        }, {
                            name: 'USSR/Russia',
                            data: [null, null, null, null, null, null, null, null, null, null,
                                5, 25, 50, 120, 150, 200, 426, 660, 869, 1060, 1605, 2471, 3322,
                                4238, 5221, 6129, 7089, 8339, 9399, 10538, 11643, 13092, 14478,
                                15915, 17385, 19055, 21205, 23044, 25393, 27935, 30062, 32049,
                                33952, 35804, 37431, 39197, 45000, 43000, 41000, 39000, 37000,
                                35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
                                21000, 20000, 19000, 18000, 18000, 17000, 16000]
                        }]
                    };

                    window.setInterval(function () { sample3data.count++; }, 6000);

                    const dvc = new DQV.Chart({ id: 'nuclear', config: sample3chartConifg });
                    const dvs = new DQV.Section({ data: sample3data, id: 'dv33', template: sample3template/* , charts: [dvc] */ });
                    dvs.mount(document.getElementById('sample3target'));

                });

                sample4data = {
                    message: 'Tables, tables everywhere...'
                };

                sample4chartConfig = {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Browser market shares January, 2015 to May, 2015'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: [{
                            name: 'IE',
                            y: 56.33
                        }, {
                            name: 'Chrome',
                            y: 24.03,
                            sliced: true,
                            selected: true
                        }, {
                            name: 'Firefox',
                            y: 10.38
                        }, {
                            name: 'Safari',
                            y: 4.77
                        }, {
                            name: 'Opera',
                            y: 0.91
                        }, {
                            name: 'Other',
                            y: 0.2
                        }]
                    }]
                };

                sample5chartConfig = {
                    chart: {
                        type: 'variablepie'
                    },
                    title: {
                        text: 'Countries compared by population density and total area.'
                    },
                    tooltip: {
                        headerFormat: '',
                        pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
                            'Area (square km): <b>{point.y}</b><br/>' +
                            'Population density (people per square km): <b>{point.z}</b><br/>'
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        minPointSize: 10,
                        innerSize: '20%',
                        zMin: 0,
                        name: 'Countries',
                        data: [{
                            name: 'Spain',
                            y: 505370,
                            z: 92.9
                        }, {
                            name: 'France',
                            y: 551500,
                            z: 118.7
                        }, {
                            name: 'Poland',
                            y: 312685,
                            z: 124.6
                        }, {
                            name: 'Czech Republic',
                            y: 78867,
                            z: 137.5
                        }, {
                            name: 'Italy',
                            y: 301340,
                            z: 201.8
                        }, {
                            name: 'Switzerland',
                            y: 41277,
                            z: 214.5
                        }, {
                            name: 'Germany',
                            y: 357022,
                            z: 235.6
                        }]
                    }]
                };

            </script>

            <style>
                body {
                    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
                    margin: 0;
                }

                h3 {
                    text-align: center;
                    margin: 8px;
                }

                .main-section {
                    display: flex;
                    flex-direction: row;

                    flex-wrap: wrap;
                }

                dv-section {
                    display: none;

                }

                [dv-section] {
                    padding: 10px;
                    margin: 5px;
                    border: 1px solid black;

                    width: 31%
                }

                [dv-chart-container] {
                    height: 300px;
                }

                [dv-chart].dv-loading {
                    display: none;
                }

                .delay-message {
                    width: 100%;
                    text-align: center;
                    font-size: 20pt;
                    font-weight: bold;
                }

                details {
                    padding: 12px;
                    background: #ecf0f1;
                }

                summary {
                    font-weight: bold;
                    cursor: pointer;
                }

                details div.summary {
                    margin-top: 12px;
                }

                details[open] summary~* {
                    animation-name: invisiblyGrowFontSize, fadeIn;
                    animation-duration: 300ms, 200ms;
                    animation-delay: 0ms, 300ms;
                }

                @keyframes invisiblyGrowFontSize {
                    0% {
                        font-size: 0;
                        opacity: 0;
                    }
                    100% {
                        font-size: 1em;
                        opacity: 0;
                    }
                }

                @keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }

                table {
                    color: #333;
                    border-collapse: collapse;
                    border-spacing: 0;
                }

                td,
                th {
                    border: 1px solid #CCC;
                    height: 30px;
                    width: 1%;
                }

                th {
                    background: #F3F3F3;
                    font-weight: bold;
                }

                td {
                    background: #FAFAFA;
                    text-align: center;
                }
            </style>

</head>

<body>
    <section class="main-section">
        <dv-section id="sample1" dv-data="sample1data">
            <h3>{{ message }}</h3>

            <dv-chart id="sample1chart1" class="chart1" dv-data='sample1chartData' dv-config="sample1chartConfig">
                <details>
                    <summary>View chart data</summary>
                    <div class="summary">
                        <p>Here we can display chart data in a nice table.</p>
                        <dv-chart-table dv-auto-render dv-table-class="whatever andto"></dv-chart-table>
                    </div>
                </details>
            </dv-chart>
        </dv-section>

        <dv-section dv-data="sample2data">
            <h3>{{ message }} </h3>
            <div v-if="seconds > 0" class="delay-message">Chart will load in {{ seconds }} second{{ seconds > 1 ? 's' : '' }}</div>

            <dv-chart dv-config="sample2chartConfig" class="chart2"></dv-chart>

        </dv-section>

        <div id="sample3target"></div>

        <dv-section id="sample4" dv-data="sample4data">
            <h3>{{ message }}</h3>

            <p>A chart table can be placed outside its parent `dv-chart` node and even place in separate `dv-section`s; multiple
                tables can be rendered for the same chart.</p>
            <dv-chart-table dv-chart-id="sample4chart1"></dv-chart-table>

            <dv-chart id="sample4chart1" dv-config="sample4chartConfig"></dv-chart>

            <dv-chart-table dv-chart-id="sample4chart1"></dv-chart-table>
        </dv-section>

        <dv-section>
            <h3>Auto generated table</h3>

            <dv-chart-table dv-chart-id="sample4chart1"></dv-chart-table>

            <dv-chart id="sample5chart1" dv-config="sample5chartConfig" dv-auto-generate-table></dv-chart>
            <dv-chart-table dv-chart-id="sample5chart1"></dv-chart-table>
        </dv-section>
    </section>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.src.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.src.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.src.js"></script>

    <script src="https://code.highcharts.com/modules/variable-pie.js"></script>

</body>

</html>